@font-face {
  font-display: swap;
  font-family: 'Fira Code';
  font-weight: 400 800;
  src: url("../fonts/FiraCode-VF.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: 'Recursive';
  font-weight: 300 800;
  src: url("../fonts/Recursive_VF.woff2") format("woff2");
}

.fvs {
  font-variation-settings: 'ital' 1;
}